@model ShopTARgv23.Models.Coctails.CoctailViewModel

<div class="container">
    <h2>Discover new drinks</h2>
    <h2>@Html.DisplayFor(model => model.StrDrink)</h2>
    <hr />
    <dl>
        @if (!string.IsNullOrEmpty(Model.IdDrink))
        {
            <div>
                @Html.DisplayFor(model => model.IdDrink)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrDrinkAlternate))
        {
            <div>
                @Html.DisplayFor(model => model.StrDrinkAlternate)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrTags))
        {
            <div>
                @Html.DisplayFor(model => model.StrTags)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrVideo))
        {
            <div>
                @Html.DisplayFor(model => model.StrVideo)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrCategory))
        {
            <div>
                @Html.DisplayFor(model => model.StrCategory)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIBA))
        {
            <div>
                @Html.DisplayFor(model => model.StrIBA)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrAlcoholic))
        {
            <div>
                @Html.DisplayFor(model => model.StrAlcoholic)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrGlass))
        {
            <div>
                @Html.DisplayFor(model => model.StrGlass)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructions))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructions)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructionsES))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructionsES)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructionsDE))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructionsDE)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructionsFR))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructionsFR)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructionsIT))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructionsIT)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructionsZHHANS))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructionsZHHANS)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrInstructionsZHHANT))
        {
            <div>
                @Html.DisplayFor(model => model.StrInstructionsZHHANT)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrDrinkThumb))
        {
            <div>
                @Html.DisplayFor(model => model.StrDrinkThumb)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient1))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient1)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient2))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient2)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient3))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient3)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient4))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient4)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient5))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient5)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient6))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient6)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrIngredient7))
        {
            <div>
                @Html.DisplayFor(model => model.StrIngredient7)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrMeasure1))
        {
            <div>
                @Html.DisplayFor(model => model.StrMeasure1)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrMeasure2))
        {
            <div>
                @Html.DisplayFor(model => model.StrMeasure2)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrMeasure3))
        {
            <div>
                @Html.DisplayFor(model => model.StrMeasure3)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrMeasure4))
        {
            <div>
                @Html.DisplayFor(model => model.StrMeasure4)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrMeasure5))
        {
            <div>
                @Html.DisplayFor(model => model.StrMeasure5)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrImageSource))
        {
            <div>
                @Html.DisplayFor(model => model.StrImageSource)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.StrCreativeCommonsConfirmed))
        {
            <div>
                @Html.DisplayFor(model => model.StrCreativeCommonsConfirmed)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.DateModified))
        {
            <div>
                @Html.DisplayFor(model => model.DateModified)
            </div>
        }
    </dl>
</div>

<div class="container">
    <a asp-action="Index" asp-controller="Coctails">Back</a>
</div>
